@font-face {
    font-family: "Raleway"; 
    src: url(../fonts/Raleway.ttf);
  }
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Raleway;
}
img{
    display: block;
    max-width: 100%;
}
html{
  scroll-behavior: smooth;
}
.fa-chevron-up{
  font-size: 1.5em;
  color: #EEAD33;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 23px;
  background: rgba(0, 0, 0, 0.788);
}
.fa-chevron-up:hover{
  background: rgba(0, 0, 0, 0.952);
}
/*header*/
.desarrollo{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.header{
	position: relative;
  margin-bottom: 3em;
  color: white;
}
.contenido-header{
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
} 
/*.txt-header{
	position: absolute;
	top:1.5em;
  left: 5%;
}*/
.title-header{
	margin-top: 240px;
  font-size: 0.9em;
}
.txt-header{
   width: 85%;
   float: left;
   padding-top: 1.5em;
}
.txt-header p{
    font-size: 2.3em;
    color: #EEAD33;
   

}
.txt-header p .developer{
    font-size: 0.7em;
    color: white;
}
.txt-header p .veinticuatro{
    font-size: 1.2em;
    color: #EEAD33;
}
.nav{
  float: right;
  padding-top: 2em;
}
/*menu*/
[id]{
  scroll-margin-top: 3ex;
}
.icon-menu{
  /* position: absolute;

	  top:1.6em;
    right: 3%;*/
   
    font-size: 1.5em;
    color: #EEAD33;
    border: 1px solid white;
    /*display: block;*/
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
  }  
  .menu{
    font-size: 0.8em;
    position: absolute;
    top: 67px;
    right: -5%;
    background: #212121;
    width: 60%;
    list-style: none;
    margin: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  .menu__item {
    padding: 20px 0;
    text-align: center;
    margin: auto;
    width: 100%;
    transition: all 0.3s;
    border-bottom:solid rgb(72, 75, 75) 1px;
  }
   .menu__item:hover{
    background: #080808;
    box-shadow: 0px 10px 10px -6px rgb(163, 161, 161);
  }
  .menu__link {
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
  }
  .mostrar{
    opacity: 1;
    visibility: visible;
  }
  .nav-social{
    display: flex;
    justify-content: center;
    padding: 15px 0;
  }
  .nav-social a{
    color: #EEAD33;
    font-size: 1.1em;
  }
  .nav-social__item{
    display: block;
    text-align: center;
    margin: 10px;
  }
  /*fin header fin menu inicio main*/
  .main{
    margin-top: 30px;
  }
  .section__title {
    font-size: 2em;
    position: relative;
    text-align: center; 
    margin-bottom: 20px;
  }
  .section__title:before {
    content: "";
    width: 200px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    background: #EEAD33;
  }
  /*poque*/
  .porque, .quienes{
    text-align: center;
    padding:0 10%;
    max-width: 750px;
    margin: auto;
    margin-bottom: 25px;
  }
  /*quienes*/
  .section__txt{
    font-size: 1.2em;
    color: #777;
    line-height: 1.3em;
  }
  .tecnologias{
     background: rgb(12, 12, 12);
     color: white;
     margin-bottom: 50px;
     max-width: 100%;
     padding: 50px 0; 
  }
  .tecnologias h2 {
    font-size: 1.5em;
  }
  section .icono-tecnologia{
    text-align: center;
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .icono-tecnologia h5{
    margin-bottom: 7px;
    color: #777 ;
  }
  .fa-html5{
    color: #e44d26;
    font-size: 4em;
  }
  .fa-js-square{
    color: #F0DB4F;
    font-size: 4em;
  }
  .fa-php{
    color: #474A8A;
    font-size: 4em;
  }
  .fa-css3{
    color: #264de4;
    font-size: 4em;
  }
  .caja-precios{
    position: relative;
    color: white;
     
  }
  .caja-precios img{
    width: 100%;
    height: 440px;
    object-fit: cover; 
  }
  .txt-precios{
    background: rgba(0, 0, 0, 0.61);
    position: absolute;
    top:0;
    left:0;
    height: 440px;
    width: 88%;
    padding: 0 6%;
    margin-bottom: 25px;
  }
  .txt-precios li{
    line-height: 1.5em;
  }
  .precios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(auto,auto);
    grid-template-areas:  "caja-precios     caja-precios"
                          "deseas           deseas"
                          "administramos    administramos"
    ;
  }
  .caja-precios{
    grid-area: caja-precios;
  }
  .deseas{
    grid-area: deseas;
    padding: 3% 5%;
    text-align: center;
    background: rgb(231, 231, 231);
  }
  .administramos{
    grid-area: administramos;
    padding: 3% 5%;
    text-align: center;
    background: rgb(231, 231, 231);
  }
  .deseas p, .administramos p{
    line-height: 1.5em;
  }
  .deseas h2, .administramos h2{
    text-align: center;
    color: #EEAD33;
    margin: 15px;
  }
  /*slider*/
.slider {
	overflow: hidden;
}
.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate;
}
.slider li {
    width: 100%;
    list-style: none;
}
.slider img {
    width: 90%;
}
@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
/*fin slider*/
.trabajos{
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}
/*formulario contacto*/
.formulario{
  padding: 4%;
}
.info{
	padding: 3%;
	width: 94%;
	margin-bottom: 5%;
  border: none;
  background: #ddd;
}
.campos{
	width: 50%;
	float: left;
  margin-bottom: 4%;
}
.whatsapp{
  text-align: center;
	width: 50%;
  float: left;
	margin-bottom: 4%;
}
textarea{
  max-width:100%;
  min-width: 100%;
  max-height:6em ;
  min-height: 6em;
  border: none;
  background: #ddd;
}
.btn{
	padding: 9px;
  width: 20%;
  max-width: 95px;
  display: block;
  border-radius: 5px;
	border:solid #EEAD33 1px;
	background:#EEAD33;
  color: white;
  margin-top: 5%;
  transition: all 0.4s;
}
.btn:hover{
  background:rgb(243, 243, 243) ;
  border:solid #EEAD33 1px;
  color: #EEAD33;
}

.uno{
  padding:0.2%;
  background: rgb(8, 8, 8);
  width: 20%;
  float: left;
}
.dos{
  padding: 0.2%;
  background: #EEAD33;
  width: 79%;
  float: left;
}
.contacto{
  background:rgb(243, 243, 243);
  padding: 5%;
}
.contacto strong{
  color: #EEAD33;
}
button, input, textarea {
	font-family : inherit;
	font-size   : 83%;
}
.whatsapp{
  display: flex;
  justify-content: center;
  text-align: center;
  padding:8% 0;
}
.whatsapp a{
  text-decoration: none;
}
.whatsapp i{
  width: 35px;
  height: 35px;
  color: white;
  font-size:35px;
  padding: 3%;
  margin-bottom: 7px;
  border-radius: 50%;
  background: #25d366;
  cursor: pointer;
}
.whatsapp i:hover{
  background:#128c7e;
}
  /*fin formulario inicio footer*/
footer{
  max-width: 100%;
  background: #282828;
  color: #828282;
  padding: 4%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:minmax(auto auto);
  grid-template-areas: "ubicacion       ubicacion       ubicacion       footer-social    footer-social   footer-social"
                       " recursos         recursos        recursos   recursos         recursos        recursos"
                       "jmt             jmt              jmt              jmt             jmt             jmt "
  ;
}
.ubicacion{
  grid-area: ubicacion;
  margin-bottom: 30px;
}
.recursos{
  grid-area: recursos;
  margin-bottom: 30px; 
}
.footer-link{
  font-size: 0.7em;
  color: #828282;
  padding-bottom: 5px;
}
.footer-link a{
color: #EEAD33;
}
.footer-social{
  grid-area: footer-social;
  margin-bottom: 30px;
}
.footer-social a i{
  width: 30px;
  height: 30px;
  color: white;
  font-size:30px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}
.footer-social .fa-facebook-f{
  background: #3b5998;
}
.footer-social .fa-instagram{
  background:#e1306c ;
}
.footer-social .fa-facebook-messenger{
  background:#0078ff ;
}
.footer-social .fa-whatsapp{
  background:#25d366 ;
}
.jmt{
  grid-area: jmt;
  text-align: center;
}
footer h4{
  margin-bottom: 10px;
  color: white;
}
@media screen and (min-width: 768px) {
  .menu{
   position: static;
    opacity: 1;
    visibility: visible;
    width: auto;
    display: flex;
    background:none;
    font-size:0.8em;
  }
  .menu__item {
    width: auto;
    border-bottom: none;
    margin-right: 20px;
    font-weight: bold;
  }
  .menu__item:hover{
    background: #08080800;
    box-shadow: 0px 10px 10px -6px rgba(163, 161, 161, 0);
  }
  .menu__item a:hover{
    color: #EEAD33;
    text-decoration: underline;
  }
  .nav-social a{
    font-size: 1.5em;
  }
  .txt-header{
    width: 30%;
    float: left;
    padding-top: 1.5em;
 }
  .nav{
      position: absolute;
      top:-0.5em;
      right: 0;
  }
  .icon-menu{
    display: none;
  }
  .desarrollo{
   height: 500px;
  }
  .title-header{
    font-size: 1.1em;
  }
  .contenido-header{
    position: absolute;
    top: 0;
    left: 2.5%;
    width: 95%;
  } 
  .porque, .quienes{
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .tecnologias{
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .deseas{
    padding-top: 40px;
  }
  .administramos{
    padding-bottom: 50px;
  }
  .trabajos{
    padding-top: 40px;
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
  }
  .formulario{
    width: 80%;
    margin: auto;
  }
  footer{
    grid-template-areas: "ubicacion       ubicacion       recursos      recursos        footer-social       footer-social"
                         " ubicacion      ubicacion       recursos      recursos        footer-social       footer-social"
                         "jmt             jmt             jmt           jmt             jmt                 jmt "
    ;
  }
  iframe {
    width: 200px;
    height: 160px;
  }
}

@media screen and (min-width: 1024px) {
  .contenido-header{
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
  } 
  .precios{
    grid-template-areas:  "caja-precios           deseas"
                          "caja-precios           administramos"
    ;
  }
  .trabajos{
    padding-top: 40px;
    width: 65%;
    margin: auto;
    margin-bottom: 20px;
  }
  .formulario{
    width: 75%;
    margin: auto;
  }
  .section__title{
    font-size: 2.5em;
  }
   .menu {
    font-size: 0.9em;
  }
  .title-header{
    font-size: 1.4em;
  }
  .fa-css3,.fa-php ,.fa-js-square,.fa-html5{
    font-size: 5.2em;
  }
  .icono-tecnologia h5{
   font-size: 1em;
  }
  iframe {
    width: 280px;
    height: 180px;
  }
}
@media screen and (min-width: 1280px) {
  .contenido-header{
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
  } 
  .desarrollo{
    height: 600px;
   }
   .title-header{
    margin-top: 320px;
  }
  .fa-css3,.fa-php ,.fa-js-square,.fa-html5{
    font-size: 8em;
  }
  .icono-tecnologia h5{
   font-size: 1.5em;
  }
  .trabajos{
    padding-top: 40px;
    width: 55%;
    margin: auto;
    margin-bottom: 20px;
  }
  .formulario{
    width: 65%;
    margin: auto;
  }
}
@media screen and (min-width: 1450px) {
  .contenido-header{
    position: absolute;
    top: 0;
    left: 15%;
    width: 70%;
  } 
  .trabajos{
    padding-top: 40px;
    width: 48%;
    margin: auto;
    margin-bottom: 20px;
  }
  .formulario{
    width: 58%;
    margin: auto;
  }
}


 
  